* {
    box-sizing: border-box;
  }

body {
    background-image: url(../Images/cork-board.png);
    color: #777777;

}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: #4aaaa5;
}

label {
    color: #777777;
}

img {
    width: 200px;
}